/* .btn-color{
    background-color: #0e1c36;
    color: #fff;
    
  }
  .anchor{
    color:#0e1c36 ;
  }
  .btn-color:hover{
    color: #ebf2fa;
  }
  .anchor{
    margin-left:-10px;
  }
  .profile-image-pic{
   
    object-fit: cover;
  }
  
  .container{
    width: 800px;
  }
  
  
  .signup a ,a,.anchor{
    text-decoration: none;
  }
  .signup a:hover {
    color:#0e1c36 ;
  }

  .signup a{
    font-weight: 600;
   
  }






  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
   
  .pwd-container {
    position: relative;
    width: 295px;
  }
   
 
  .pwd-container img {
    cursor: pointer;
    position: absolute;
    width: 20px;
    right: 8px;
    top: 8px;
  } */