.main{
    width: 90%;
    margin: auto;
}
.manageButton {
    background-color: darkmagenta;
    color: aliceblue;

}
.manageButton:hover{
    background-color: rgba(5, 60, 109, 0.621);
    color: aliceblue;
}
.inventory-item{
    margin-top: 100px;
}
@media (max-width:700px) {
    .inventory-item{
        margin-top: 50px;
    } 
}